<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{layout/layout :: head}">
</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="~{layout/layout :: header}"></header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="~{layout/layout :: sidebar}"></aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Form Elements</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                <li class="breadcrumb-item">Formularios</li>
                <li class="breadcrumb-item active">Elementos</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-8 offset-2">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${titulo}"></h5>
                        <form th:action="@{/cargos/save}" th:object="${cargo}" method="POST">
                            <div class="row mb-3">
                                <label for="cargo" class="col-sm-3 col-form-label">Descripción</label>
                                <div class="col-sm-9">
                                    <input type="hidden"
                                           th:field="*{id}"/>
                                    <input type="text" class="form-control" id="cargo" th:field="*{descripcion}">
                                    <small class="form-text text-danger"
                                           th:if="${#fields.hasErrors('descripcion')}"
                                           th:errors="*{descripcion}"></small>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="cargo" class="col-sm-3 col-form-label">&nbsp;</label>
                                <div class="col-sm-4">
                                    <button type="submit" class="btn btn-primary">Guardar datos</button>
                                </div>
                                <div class="col-sm-4">
                                    <a th:href="@{/cargos}" type="button"
                                       class="btn btn-danger">Cancelar
                                    </a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--    <a th:href="@{'/make-pdf/'+ ${oficio.id}(format=pdf)}" target="_blank" type="button"-->
    <!--       class="btn btn-danger">Ficha PDF</a>-->

</main>

<!-- ======= Footer ======= -->
<footer th:replace="~{layout/layout :: footer}"></footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>

</html>